@use "variables" as FlatIconVariables ;

@font-face {
  font-family: "uicons-regular-rounded";
  src: url("../webfonts/uicons-regular-rounded.eot#iefix") format("embedded-opentype"), url("../webfonts/uicons-regular-rounded.woff2") format("woff2"), url("../webfonts/uicons-regular-rounded.woff") format("woff");
}

@font-face {
  font-family: "uicons-regular-straight";
  src: url("../webfonts/uicons-regular-straight.eot#iefix") format("embedded-opentype"), url("../webfonts/uicons-regular-straight.woff2") format("woff2"), url("../webfonts/uicons-regular-straight.woff") format("woff");
}

@each $selector in FlatIconVariables.$fi-selectors {
  #{$selector}[class^="fi-rr-"]:before,
  #{$selector}[class*="fi-rr-"]:before {
    display: block;
    font-family: uicons-regular-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@each $selector in FlatIconVariables.$fi-selectors {
  #{$selector}[class^="fi-rs-"]:before,
  #{$selector}[class*="fi-rs-"]:before {
    display: block;
    font-family: uicons-regular-straight !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@each $iconName, $iconValue in FlatIconVariables.$fi-icons-rounded-regular {
  .fi-rr-#{$iconName}:before {
    content: $iconValue;
  }
}

@each $iconName, $iconValue in FlatIconVariables.$fi-icons-straight-regular {
  .fi-rs-#{$iconName}:before {
    content: $iconValue;
  }
}
    